.nav {
    background: #ffffff !important;
    /* color: black !important; */
    position: sticky !important;
    box-shadow: none !important;
    border-bottom: groove !important;
}

a {
    text-decoration: none;
}

a:visited {
    color: #45462A;
}

@media only screen and (min-width: 768px) {
    .navContent {
        margin: 0 15vw 0 15vw !important;
    }
  }

