/* Page Styling */  
  footer {
    color: rgb(86, 86, 86);
    margin-left: 10vw;
    margin-right: 10vw;
  }
  
  footer hr { 
    display: block; height: 1px;
    border: 0; 
    border-top: 1px solid;
    margin: 0; 
    padding: 0; 
    border-color: inherit;
  }

  .footerLinks {
    /* padding-right: 0; */
    justify-content: right;
  }
  
  
  /* style={{marginLeft:'20vw',marginRight:'20vw'}} */
  
  /* Media Query */
  
  @media only screen and (min-width: 768px) {
    footer {
      color: rgb(86, 86, 86);
      margin-left: 20vw;
      margin-right: 20vw;
    }
    
    footer hr { 
      display: block; height: 1px;
      border: 0; border-top: 1px solid;
      margin: 0; padding: 0; 
      border-color: inherit;
    }
  
  }